<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form action="/users/login" method="POST">
        <legend>Login</legend>
        <label>
            <span>Email</span>
            <input type="email" name="email" placeholder="Email">
        </label>
        <label>
            <span>Password</span>
            <input type="password" name="password" placeholder="password">
        </label>
        
        <button type="submit">Login</button>
    </form>
    
</body>
</html>